header h1 {
    font-size:80px;
    position:relative;
    left:50%;
    animation-name:change_color;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

footer a{
    padding:15px 20px;
    text-decoration: none;
    background-color:black;
    color:white;
    border-radius:5px;
}

footer  a p{
    display: inline-block;
}

footer{
    position:fixed;
    bottom:0;
    left:50%;
}

main p{
    font-size:25px;
    position:relative;
    left:50%;
}

@keyframes change_color {
    from {color: black;}
    to {color: white;}
  }